let mapleader=" "

" -- Plugins --
set NERDTree
set commentary
set highlightedyank
set matchit
set sneak
set surround
set vim-paragraph-motion
" -- Settings --
set clipboard+=ideaput
set clipboard+=unnamed
set hls
set ignorecase
set incsearch
set nu
set rnu
set scrolloff=5
set showmode
set smartcase
set visualbell
set wrapscan
" -- Mappings --
imap <C-b>      <Esc>^i
imap <C-e>      <End>
imap <C-h>      <Left>
imap <C-l>      <Right>
imap <C-j>      <Down>
imap <C-k>      <Up>
" - Window movement
map <C-h>       <C-w>h
map <C-l>       <C-w>l
map <C-j>       <C-w>j
map <C-k>       <C-w>k
" - General Things
map <Esc>       :nohlsearch<CR>
map <C-n>       :NERDTreeToggle<CR>
map <C-c>       :%y+<CR>
map <TAB>       :bnext<CR>
map <S-TAB>     :bprev<CR>
map <leader>x   :bd<CR>
map <leader>n   :set nu!<CR>
map <leader>rn  :set rnu!<CR>
" - Intellij Actions
"   > Nice to have
map <leader>zn  <Action>(ToggleDistractionFreeMode)
map <leader>ff  <Action>(GotoFile)
map <leader>fm  <Action>(ReformatCode)
map <leader>/   <Action>(CommentByLineComment)
map <leader>ca  <Action>(ShowIntentionActions)
map <leader>cm  <Action>(CodeMenu)
map <leader>em  <Action>(Flutter.DeviceSelector)
map <leader>ae  <Action>(AvailableDevices)
map <leader>fu  <Action>(FindUsages)
map <leader>su  <Action>(ShowUsages)
map <leader>ga  <Action>(GotoAction)
"   > Show Tool Window
map <leader>lc  <Action>(ActivateLogcatToolWindow)
map <leader>sh  <Action>(ActivateTerminalToolWindow)
map <leader>db  <Action>(ActivateDebugToolWindow)
map <leader>gg  <Action>(ActivateVersionControlToolWindow)
map <leader>ad  <Action>(ActivateDeviceManagerToolWindow)
map <leader>pr  <Action>(ActivateProblemsViewToolWindow)
"   > Refactorings
map <leader>R   <Action>(Refactorings.QuickListPopupAction)
map <leader>ri  <Action>(Inline)
map <leader>rn  <Action>(RenameElement)
map <leader>rf  <Action>(RenameFile)
map <leader>rv  <Action>(IntroduceVariable)
map <leader>rs  <Action>(ExtractSuperclass)
map <leader>ri  <Action>(Inline)
"   > Execution
map <leader>rr  <Action>(Run)
map <leader>dd  <Action>(Debug)
map <leader>cc  <Action>(CleanGradleProject)
map <leader>ss  <Action>(Android.SyncProject)